
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var article in ViewBag.Articles)
{
    <h4>@article.name</h4>
    <h5>Category: @article.category</h5>
    <p>@Html.Raw(article.content)</p>
    <br />
    <br />
    @Html.ActionLink("Edit", "Edit", "Article", new { id = article.Id }, null)
    <hr />
    <br />
}