
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<div>
    <form method="post" action="New">
        <label>Title</label>
        <br />
        <input id="Text1" type="text" name="name" />
        <br /><br />
        <label>Article</label>
        <br />
        <textarea id="TextArea1" rows="20" cols="200" name="content"></textarea>
        <br />
        <input type="submit" value="Publish" />
    </form>
</div>