
@{
    ViewBag.Title = "ManageAccounts";
}

<h2>ManageAccounts</h2>
@foreach (var user in ViewBag.Users)
{
    <h4>@user.Email</h4>
    @Html.ActionLink("Change role", "ChangeRole", "Manage", new { id = user.Id }, null)
    <hr />
    <br />
}
