@{
    ViewBag.Title = "About";
}

<h2>Wiki Reloaded 2.0</h2>
<p> A new and secure source of information! Sources are constantly checked by our staff so you don't have to and simply enjoy a new and improved platform: <strong> Wiki Reloaded 2.0 </strong>.</p>
<p><i>Best Wiki ever!</i></p>