@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Strada Sperantei<br />
    Nr 10 cu felicitari<br />
    <abbr title="Phone">Phone:</abbr>
    425.555.0100
</address>
<br />
<address>
    <strong><i>Support:</strong>   <a href="mailto:support@example.com">ViorelPopescu_sef@example.com</a></i><br />
    <strong><i>Marketing:</strong> <a href="mailto:marketing@example.com">AncaZabava_la.fel.de.sefa@example.com</a></i>
</address>