
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>
@Html.ActionLink("Add category", "New", "Category")
@foreach (var category in ViewBag.Categories)
{
    <h4>@category.name</h4>
    @Html.ActionLink("Delete", "Delete", "Category")
    <hr />
    <br />
}
